<div class="globalContainer">

    <div class="title">
      <p><label>Contact</label></p>
    </div>
  
    <div class="container">
      <div class="footerContainer">
        <a href="mailto:guillaume.elisabeth@outlook.com">
          <img src="assets/pictures/icons/Email.png"/>
        </a>
      </div>
    
      <div class="footerContainer">
        <a target="_blank" href="assets/documents/[CV][FR]GuillaumeElisabeth.pdf">
          <img src="assets/pictures/icons/CV.png"/>
        </a>
      </div>
    
      <div class="footerContainer">
        <a target="_blank" href="https://www.linkedin.com/in/guillaume-elisabeth-95b657142/">
          <img src="assets/pictures/icons/LinkedIN.png"/>
        </a>
      </div>
    </div>
    
    <div class="copyright">
      <p>Copyright © 2019 - Guillaume ELISABETH</p>
    </div>
  </div>
  