<div class="globalContainer">

    <div class="title">
        <p><label>Passions</label></p>
    </div>

    <div class="container">
    <div class="hobbyContainer">
        <img src="assets/pictures/hobbies/Robot.jfif"/>
        <div class="hobbyInfo">
        <div class="info">
            <p>
                Passionné par le monde des nouvelles technologies, 
                je suis intrigué par le monde de la robotique et 
                de toutes ses éventualités et du futur qu'il peut nous 
                offrir.
            </p>
            <!-- <p>
            <a (click)="showSkillsModal(0)">Plus d'informations</a>
            </p> -->
        </div>
        </div>
    </div>
    
    <div class="hobbyContainer">
        <img src="assets/pictures/hobbies/Travel.jpg"/>
        <div class="hobbyInfo">
        <div class="info">
            <p>
                J'adore découvrir de nouvelles cultures et faire de 
                nouvelles rencontres. Lors de mes différents voyaves 
                au Canada, Japon, Corée du sud, Angleterre, Espage 
                et Italie, j'ai eu la chance de rencontrer énormément 
                de personnes avec qui pour certains j'ai encore des 
                contacts aujourd'hui.
            </p>
            <!-- <p>
                <a (click)="showSkillsModal(1)">Plus d'informations</a>
            </p> -->
        </div>
        </div>
    </div>
    
    <div class="hobbyContainer">
        <img src="assets/pictures/hobbies/Game.jfif"/>
        <div class="hobbyInfo">
        <div class="info">
            <p>
                La pratique de jeu vidéo, à au niveau et dans des tournois,
                m'a permis de travailler mon assiduité et ma rigueur, ainsi
                que ma capacité d'adaptation devant l'imprévu. J'y ai faits des
                rencontres extraordinaires et c'est un monde plein de surprises.
            </p>
            <!-- <p>
                <a (click)="showSkillsModal(1)">Plus d'informations</a>
            </p> -->
        </div>
        </div>
    </div>
    
    <div class="hobbyContainer">
        <img src="assets/pictures/hobbies/Music.jfif"/>
        <div class="hobbyInfo">
        <div class="info">
            <p>
                Je pratique le piano depuis plus de 10 ans. Cette activité 
                m'a permis de travailler ma rigueur et mon assiduité.
                La musique me permet de me relaxer et de partager des moments
                extraordinaires avec ma famille et mes amis.
            </p>
            <!-- <p>
                <a (click)="showSkillsModal(1)">Plus d'informations</a>
            </p> -->
        </div>
        </div>
    </div>
    </div>
</div>
  
    <p style="height: 25px;" id="contact"></p>
<!--     
    <div class="modalContainer"
    [ngStyle]="{'display' : _isModalVisible ? 'block' : 'none'}">
    
      <div class="modal" [ngStyle]="{'display' : _isSlideVisible[0] ? 'flex' : 'none'}">
        <p>
          C#
        </p>
      </div>
      <div class="modal" [ngStyle]="{'display' : _isSlideVisible[1] ? 'flex' : 'none'}">
        <p>
          .NET
        </p>
      </div>
      <div class="modal" [ngStyle]="{'display' : _isSlideVisible[2] ? 'flex' : 'none'}">
        <p>
          Autonomie
        </p>
      </div>
      <div class="modal" [ngStyle]="{'display' : _isSlideVisible[3] ? 'flex' : 'none'}">
        <p>
          Force de proposition
        </p>
      </div>
    
      <div class="modalReturnContainer">
        <p (click)="hideSkillsModal()" class="modalReturn">Retour</p>
      </div>
    
  </div> -->