<div class="aboutMe">

    <div class="title">
      <p><label>Qui-suis-je ?</label></p>
    </div>
  
    <div style="display: flex;">
  
      <div style="flex: 1;">
        <div class="picture">
          <img src="assets/pictures/global/DoWhatYou_Love_WhatYouDo.jpg"/>
        </div>
      </div>
  
      <div class="aboutMeText">

        <p>
            <label class="citation">
                "The only way to do great works is to love what you do. If you haven't found it,
                keep settle." - Steve Jobs.
            </label>
            <br/>
            Cette citation est à l'image de ma mentalité. Je pense que la vie est trop longue,
            trop dur pour faire un travail qui ne nous correspond pas. Chacun doit se donner les moyens
            pour arriver au travail de ses rêves.
        </p>

        <p>
            Passionné par le monde numérique et les nouvelles technologies, je suis toujours 
            <label class="bold">motivé</label> à l'idée de découvrir de nouvelles méthodes 
            d'organisation et de travailler sur des <label class="bold">technologies innovantes
            </label>. L'informatique m'a permis de développer ma <label class="bold">
            rigueur</label>, mon <label class="bold">autonomie</label> et mon 
            <label class="bold">esprit d'équipe</label>.
            Cela me conforte dans l'idée de travailler sur des projets proches de l'homme.
        </p>
       
        <p>
            J'aimerais travailler sur une problématique qui me tient a coeur : comment améliorer les conditions 
            de vie et/ou de travail des hommes grâce à l'informatique. Je pourrais vous parler de 
            <a target="_blank" class="externalLink bold"  
            href="https://www.allodocteurs.fr/maladies/seniors/maison-de-retraite/robotique-medicale-au-japon-c-est-deja-demain_22522.html">
            robotique médicale</a> ou encore de la société <a target="_blank" class="externalLink bold"  
            href="https://www.fr.dialog-health.com/accompagnement-personnes-agees-tokyo-2019">
            DialogHealth</a> et de son projet d'accompagnement des personnes âgées.
        </p>
       
        <p>
            Ma <label class="bold">patience</label>, ma <label class="bold">gentillesse</label> et mon 
            <label class="bold">respect</label> me permettent de garder un <label class="bold">contact humain
            </label> essentiel à notre activité. Alors que ma <label class="bold">détermination</label>, 
            ma <label class="bold">rigueur</label>, mon <label class="bold">adaptabilité</label>, et mon 
            <label class="bold">esprit créatif</label> me permettent de surmonter les obstacles de la vie. 
            Ces traits de ma personnalité m'aident me à <label class="bold">évoluer au quotidien</label>.
        </p>

        <p>
            Á titre personnel, j'ai une grande passion pour les <label class="bold">voyages
            </label>, la <label class="bold">musique</label> et les 
            <label class="bold">jeux vidéo</label>.
        </p>

        <p>
            J'aime voyager à travers le monde pour <label class="bold">découvrir</label> de nouvelles cultures 
            et <label class="bold">rencontrer</label> des personnes d'horizon différentes.
        </p>

        <p>
            Je pratique le piano depuis plus de 10 ans et cela me permet de vivre et de <label class="bold">
            partager</label> des moments et de rencontre extraordinaires.
        </p>

        <p>
            Pour autant je reste un "gamer" dans l'âme, que ce soit par <label class="bold">
            l'assiduité</label>, la <label class="bold">rigueur</label> et la 
            <label class="bold">détermination</label> que demande un tel sport en compétition mais 
            aussi pour les rencontres formidables qu'on peut y faire.
        </p>

      </div>
  
    </div>
    
    <p style="height: 25px;" id="experiences"></p>
  
  </div>
  
  
  <!-- <div class="Home_HomeItemContainer" 
    style="background: blue;">
  
      <p class="ContainerTitle"># Qui-suis-je ? #</p>
  
      <div style="display: flex; background: coral;">
  
        <div style="background: yellow; flex: 1; display: flex; justify-content: center;">
          <img style="width: 75%; border-radius: 50%;" 
          src="../../assets/pictures/DoWhatYou_Love_WhatYouDo.jpg"/>
        </div>
  
        <div style="background: red; flex: 2;">
          
          <p>
            "The only way to do great works is to love what you do. If you haven't found it,
            keep settle." - Steve Jobs
          </p>
  
          <p>
            Se présenter
          </p>
  
          <p>
            Annoncer ses envies futures
          </p>
  
        </div>
  
      </div>
  
    </div> -->