<div class="title" >
    <p><label>Mon parcours</label></p>
</div>

<div id="experienceContainerID" class="timeline">

    <div class="container left">
        <div class="content">
            <div class="imgContainer">
                <a target="_blank" href="https://www.intechinfo.fr/">
                    <img src="assets/pictures/experiences/intech.png"/>
                </a>
            </div>
            <div class="textContainer">
                <h2>Mars 2020 : Obtention du diplôme</h2>
                <p>
                    Diplôme d'expert en ingénierie de logiciel - titre RNCP niveau 1.
                    <br/><br/>
                    <a target="_blank" href="https://www.intechinfo.fr/" class="bold">IN'TECH</a>, 
                    92400 Ivry-sur-Seine, France.
                </p>
            </div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <div class="imgContainer">
                <a target="_blank" href="https://www.societegenerale.fr/">
                    <img src="assets/pictures/experiences/SociétéGénérale.png"/>
                </a>
            </div>
            <div class="textContainer">
                    <h2>Avril 2018 - Mars 2020 : Alternance</h2>
                <p>
                    Ingénieur Full stack JS/.NET/Json et big data Talend/Java/Sql.
                    <br/><br/>
                    Projet : MERCI, application de digitalisation des filiales à l'international
                    du groupe (Afrique, Moyen-Orient, Europe de l'est et DOMTOM).
                    <br/><br/>
                    <a target="_blank" href="https://www.societegenerale.fr/" class="bold">Société Générale</a> 
                    9200 Nanterre, France.
                </p>
            </div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <div class="imgContainer">
                <a target="_blank" href="https://quantum.one/">
                    <img src="assets/pictures/experiences/QuantumOne.png"/>
                </a>
            </div>
            <div class="textContainer">
                <h2>Septembre 2017 - Février 2018 : Stage</h2>
                <p>
                    Développeur Full stack C#/.NET et Microsoft Azure.
                    <br/><br/>
                    Projet : Atlas, projet de centralisation et digitalisation des procédures
                    internes et externes de la startup.
                    <br/><br/>
                    <a target="_blank" href="https://quantum.one/" class="bold">QuantumOne</a> 
                    75009 Paris, France.
                </p>
            </div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <div class="imgContainer">
                <a target="_blank" href="https://www.intechinfo.fr/">
                    <img src="assets/pictures/experiences/intech.png"/>
                </a>
            </div>
            <div class="textContainer">
                <h2>Mars 2016 - Mars 2020 : IN'TECH</h2>
                <p>
                    École supérieure d'ingénierie informatique.
                    <br/><br/>
                    <a target="_blank" href="https://www.intechinfo.fr/" class="bold">IN'TECH</a> 
                    92400 Ivry-sur-Seine, France.
                </p>
            </div>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <div class="imgContainer">
                <a target="_blank" href="https://caro-foresta.com/index.php">
                    <img src="assets/pictures/experiences/CaroForesta.png"/>
                </a>
            </div>
            <div class="textContainer">
                <h2>Juillet 2015 - Juillet 2015 : Stage</h2>
                <p>
                    Employé polyvalent à Caro Foresta Yamanaka-ko, Yamanakako, Japon.
                    <br/><br/>
                    <a target="_blank" href="https://caro-foresta.com/index.php" class="bold">Caro Foresta</a>,
                    Yamanakako, Japon.
                </p>
            </div>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <div class="imgContainer">
                <a href="https://www.esiea.fr/">
                    <img src="assets/pictures/experiences/esiea.png"/>
                </a>
            </div>
            <div class="textContainer">
                <h2>Septembre 2014 - Mars 2016 : ESIEA</h2>
                <p>
                    ESIEA - école d'ingénieure du monde numérique.
                    <br/><br/>
                    <a href="https://www.esiea.fr/" class="bold">ESIEA</a> 92400 Ivry-sur-Seine, France.
                </p>
            </div>
        </div>
    </div>
</div>

<p style="height: 25px;" id="projects"></p>